<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
        <h2>Informe de horas trabajadas</h2>
        <table>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora Entrada</th>
                <th>Hora Salida</th>
                <th>Horas trabajadas</th>
            </tr>
            {% for d in detalle %}
            <tr>
                <td>{{ d.apellido }}</td>
                <td>{{ d.nombre }}</td>
                <td>{{ d.fecha }}</td>
                <td>{{ d.horaentrada }}</td>
                <td>{{ d.horasalida }}</td>
                <td>{{ d.horas|round(2) }}</td>
            </tr>
            {% endfor %}
        </table>
        <p><strong>Total de horas: {{ total_horas|round(2) }}</strong></p>
</body>
</html>