<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Registros de Horarios</title>
</head>
<body>
        <h2>Mis registros</h2>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th>Dependencia</th>
        </tr>
        {% for r in registros %}
        <tr>
            <td>{{ r.fecha.strftime("%Y-%m-%d") }}</td>
            <td>{{ r.horaentrada.strftime("%H:%M") if r.horaentrada else "" }}</td>
            <td>{{ r.horasalida.strftime("%H:%M") if r.horasalida else "" }}</td>
            <td>{{ r.dependencia }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>